In [1]:
import sys
import pandas as pd 
import os 
import glob

In [2]:
csv_files = glob.glob(os.path.join(r"facebook/extraction-*/", "*.csv"))

In [3]:
csv_files

['facebook\\extraction-1\\Accel_01-09.csv',
 'facebook\\extraction-1\\Antaurus_01.csv',
 'facebook\\extraction-1\\Antaurus_02.csv',
 'facebook\\extraction-1\\Antaurus_03.csv',
 'facebook\\extraction-1\\Antaurus_04.csv',
 'facebook\\extraction-1\\Antaurus_05.csv',
 'facebook\\extraction-1\\AntonellaAservi_01.csv',
 'facebook\\extraction-1\\AntonellaLeon1.csv',
 'facebook\\extraction-1\\AntonellaLeon10.csv',
 'facebook\\extraction-1\\AntonellaLeon11.csv',
 'facebook\\extraction-1\\AntonellaLeon12.csv',
 'facebook\\extraction-1\\AntonellaLeon13.csv',
 'facebook\\extraction-1\\AntonellaLeon14.csv',
 'facebook\\extraction-1\\AntonellaLeon15.csv',
 'facebook\\extraction-1\\AntonellaLeon16.csv',
 'facebook\\extraction-1\\AntonellaLeon17.csv',
 'facebook\\extraction-1\\AntonellaLeon18.csv',
 'facebook\\extraction-1\\AntonellaLeon19.csv',
 'facebook\\extraction-1\\AntonellaLeon2.csv',
 'facebook\\extraction-1\\AntonellaLeon20.csv',
 'facebook\\extraction-1\\AntonellaLeon21.csv',
 'facebook\\extraction-1\\AntonellaLeon3.csv',
 'facebook\\extraction-1\\AntonellaLeon4.csv',
 'facebook\\extraction-1\\AntonellaLeon5.csv',
 'facebook\\extraction-1\\AntonellaLeon6.csv',
 'facebook\\extraction-1\\AntonellaLeon7.csv',
 'facebook\\extraction-1\\AntonellaLeon8.csv',
 'facebook\\extraction-1\\AntonellaLeon9.csv',
 'facebook\\extraction-1\\BrunoPinasco_01.csv',
 'facebook\\extraction-1\\ChiaraPinasco_01.csv',
 'facebook\\extraction-1\\ChinoRisas1.csv',
 'facebook\\extraction-1\\ChinoRisas2.csv',
 'facebook\\extraction-1\\ChinoRisas3.csv',
 'facebook\\extraction-1\\ChinoRisas4.csv',
 'facebook\\extraction-1\\ChinoRisas5.csv',
 'facebook\\extraction-1\\ChinoRisas6.csv',
 'facebook\\extraction-1\\ChinoRisas7.csv',
 'facebook\\extraction-1\\CristianBravo_01.csv',
 'facebook\\extraction-1\\CristianBravo_02.csv',
 'facebook\\extraction-1\\CristianRivero1.csv',
 'facebook\\extraction-1\\CristianRivero2.csv',
 'facebook\\extraction-1\\CristianRivero3.csv',
 'facebook\\extraction-1\\CristianRivero4.csv',
 'facebook\\extraction-1\\CristianRivero5.csv',
 'facebook\\extraction-1\\CristianRivero6.csv',
 'facebook\\extraction-1\\DamianyElToyo1.csv',
 'facebook\\extraction-1\\DamianyElToyo2.csv',
 'facebook\\extraction-1\\DamianyElToyo3.csv',
 'facebook\\extraction-1\\DamianyElToyo4.csv',
 'facebook\\extraction-1\\DamianyElToyo5.csv',
 'facebook\\extraction-1\\DamianyElToyo6.csv',
 'facebook\\extraction-1\\DamianyElToyo7.csv',
 'facebook\\extraction-1\\FrancoNoriega_01.csv',
 'facebook\\extraction-1\\GastonAcurio_01.csv',
 'facebook\\extraction-1\\GastonAcurio_02.csv',
 'facebook\\extraction-1\\GastonAcurio_03.csv',
 'facebook\\extraction-1\\GianellaClavijo1.csv',
 'facebook\\extraction-1\\GianellaClavijo10.csv',
 'facebook\\extraction-1\\GianellaClavijo11.csv',
 'facebook\\extraction-1\\GianellaClavijo12.csv',
 'facebook\\extraction-1\\GianellaClavijo13.csv',
 'facebook\\extraction-1\\GianellaClavijo14.csv',
 'facebook\\extraction-1\\GianellaClavijo15.csv',
 'facebook\\extraction-1\\GianellaClavijo16.csv',
 'facebook\\extraction-1\\GianellaClavijo17.csv',
 'facebook\\extraction-1\\GianellaClavijo2.csv',
 'facebook\\extraction-1\\GianellaClavijo3.csv',
 'facebook\\extraction-1\\GianellaClavijo4.csv',
 'facebook\\extraction-1\\GianellaClavijo5.csv',
 'facebook\\extraction-1\\GianellaClavijo6.csv',
 'facebook\\extraction-1\\GianellaClavijo7.csv',
 'facebook\\extraction-1\\GianellaClavijo8.csv',
 'facebook\\extraction-1\\GianellaClavijo9.csv',
 'facebook\\extraction-1\\Infamus1a19.csv',
 'facebook\\extraction-1\\Iwo1al21.csv',
 'facebook\\extraction-1\\JBJorgeBenavides1.csv',
 'facebook\\extraction-1\\JBJorgeBenavides2.csv',
 'facebook\\extraction-1\\JBJorgeBenavides3.csv',
 'facebook\\extraction-1\\JBJorgeBenavides4.csv',
 'facebook\\extraction-1\\JBJorgeBenavides5.csv',
 'facebook\\extraction-1\\JBJorgeBenavides6.csv',
 'facebook\\extraction-1\\JesusAlzamora1.csv',
 'facebook\\extraction-1\\JesusAlzamora2.csv',
 'facebook\\extraction-1\\JesusAlzamora3.csv',
 'facebook\\extraction-1\\JesusAlzamora4.csv',
 'facebook\\extraction-1\\JesusAlzamora5.csv',
 'facebook\\extraction-1\\JesusAlzamora6.csv',
 'facebook\\extraction-1\\JesusAlzamora7.csv',
 'facebook\\extraction-1\\JesusAlzamora8.csv',
 'facebook\\extraction-1\\JorgeTalavera1.csv',
 'facebook\\extraction-1\\JorgeTalavera2.csv',
 'facebook\\extraction-1\\JorgeTalavera3.csv',
 'facebook\\extraction-1\\JorgeTalavera4.csv',
 'facebook\\extraction-1\\JorgeTalavera5.csv',
 'facebook\\extraction-1\\JorgeTalavera6.csv',
 'facebook\\extraction-1\\JorgeTalavera7.csv',
 'facebook\\extraction-1\\JorgeTalavera8.csv',
 'facebook\\extraction-1\\JorgeTalavera9.csv',
 'facebook\\extraction-1\\JulianZucchi1.csv',
 'facebook\\extraction-1\\JulianZucchi2.csv',
 'facebook\\extraction-1\\JulianZucchi3.csv',
 'facebook\\extraction-1\\JulianZucchi4.csv',
 'facebook\\extraction-1\\JulianZucchi5.csv',
 'facebook\\extraction-1\\LauraSpoya1.csv',
 'facebook\\extraction-1\\LauraSpoya2.csv',
 'facebook\\extraction-1\\LauraSpoya3.csv',
 'facebook\\extraction-1\\LauraSpoya4.csv',
 'facebook\\extraction-1\\LauraSpoya5.csv',
 'facebook\\extraction-1\\LucianoMazzetti_01.csv',
 'facebook\\extraction-1\\LucyWeird1a14.csv',
 'facebook\\extraction-1\\MarlonMax1a15.csv',
 'facebook\\extraction-1\\MateoGarridoLecca1.csv',
 'facebook\\extraction-1\\MateoGarridoLecca10.csv',
 'facebook\\extraction-1\\MateoGarridoLecca11.csv',
 'facebook\\extraction-1\\MateoGarridoLecca12.csv',
 'facebook\\extraction-1\\MateoGarridoLecca2.csv',
 'facebook\\extraction-1\\MateoGarridoLecca3.csv',
 'facebook\\extraction-1\\MateoGarridoLecca4.csv',
 'facebook\\extraction-1\\MateoGarridoLecca5.csv',
 'facebook\\extraction-1\\MateoGarridoLecca6.csv',
 'facebook\\extraction-1\\MateoGarridoLecca7.csv',
 'facebook\\extraction-1\\MateoGarridoLecca8.csv',
 'facebook\\extraction-1\\MateoGarridoLecca9.csv',
 'facebook\\extraction-1\\MrChoco1a53.csv',
 'facebook\\extraction-1\\PhilipChuJoy_01.csv',
 'facebook\\extraction-1\\Random1.csv',
 'facebook\\extraction-1\\rebecaScribens1.csv',
 'facebook\\extraction-1\\RicardoMendoza1a15.csv',
 'facebook\\extraction-1\\SmashSina1a39.csv',
 'facebook\\extraction-1\\UmiHyu1a5.csv',
 'facebook\\extraction-1\\XimenaGaliano1.csv',
 'facebook\\extraction-1\\XimenaGaliano10.csv',
 'facebook\\extraction-1\\XimenaGaliano11.csv',
 'facebook\\extraction-1\\XimenaGaliano12.csv',
 'facebook\\extraction-1\\XimenaGaliano13.csv',
 'facebook\\extraction-1\\XimenaGaliano14.csv',
 'facebook\\extraction-1\\XimenaGaliano15.csv',
 'facebook\\extraction-1\\XimenaGaliano16.csv',
 'facebook\\extraction-1\\XimenaGaliano2.csv',
 'facebook\\extraction-1\\XimenaGaliano3.csv',
 'facebook\\extraction-1\\XimenaGaliano4.csv',
 'facebook\\extraction-1\\XimenaGaliano5.csv',
 'facebook\\extraction-1\\XimenaGaliano6.csv',
 'facebook\\extraction-1\\XimenaGaliano7.csv',
 'facebook\\extraction-1\\XimenaGaliano8.csv',
 'facebook\\extraction-1\\XimenaGaliano9.csv',
 'facebook\\extraction-2\\Accel_01-09.csv',
 'facebook\\extraction-2\\AldoCorzo_01.csv',
 'facebook\\extraction-2\\AleCaminoSmileBaker_01.csv',
 'facebook\\extraction-2\\AlessandraFuller_01.csv',
 'facebook\\extraction-2\\AlondraGarciaMiro_01.csv',
 'facebook\\extraction-2\\Antaurus_01.csv',
 'facebook\\extraction-2\\Antaurus_02.csv',
 'facebook\\extraction-2\\Antaurus_03.csv',
 'facebook\\extraction-2\\Antaurus_04.csv',
 'facebook\\extraction-2\\Antaurus_05.csv',
 'facebook\\extraction-2\\AntonellaAservi_01.csv',
 'facebook\\extraction-2\\AntonellaLeon1.csv',
 'facebook\\extraction-2\\AntonellaLeon10.csv',
 'facebook\\extraction-2\\AntonellaLeon11.csv',
 'facebook\\extraction-2\\AntonellaLeon12.csv',
 'facebook\\extraction-2\\AntonellaLeon13.csv',
 'facebook\\extraction-2\\AntonellaLeon14.csv',
 'facebook\\extraction-2\\AntonellaLeon15.csv',
 'facebook\\extraction-2\\AntonellaLeon16.csv',
 'facebook\\extraction-2\\AntonellaLeon17.csv',
 'facebook\\extraction-2\\AntonellaLeon18.csv',
 'facebook\\extraction-2\\AntonellaLeon19.csv',
 'facebook\\extraction-2\\AntonellaLeon2.csv',
 'facebook\\extraction-2\\AntonellaLeon20.csv',
 'facebook\\extraction-2\\AntonellaLeon21.csv',
 'facebook\\extraction-2\\AntonellaLeon3.csv',
 'facebook\\extraction-2\\AntonellaLeon4.csv',
 'facebook\\extraction-2\\AntonellaLeon5.csv',
 'facebook\\extraction-2\\AntonellaLeon6.csv',
 'facebook\\extraction-2\\AntonellaLeon7.csv',
 'facebook\\extraction-2\\AntonellaLeon8.csv',
 'facebook\\extraction-2\\AntonellaLeon9.csv',
 'facebook\\extraction-2\\BrunoPinasco_01.csv',
 'facebook\\extraction-2\\ChiaraPinasco_01.csv',
 'facebook\\extraction-2\\ChinoRisas1.csv',
 'facebook\\extraction-2\\ChinoRisas2.csv',
 'facebook\\extraction-2\\ChinoRisas3.csv',
 'facebook\\extraction-2\\ChinoRisas4.csv',
 'facebook\\extraction-2\\ChinoRisas5.csv',
 'facebook\\extraction-2\\ChinoRisas6.csv',
 'facebook\\extraction-2\\ChinoRisas7.csv',
 'facebook\\extraction-2\\CinnamonStyle_01.csv',
 'facebook\\extraction-2\\CristianBravo_01.csv',
 'facebook\\extraction-2\\CristianBravo_02.csv',
 'facebook\\extraction-2\\CristianRivero1.csv',
 'facebook\\extraction-2\\CristianRivero2.csv',
 'facebook\\extraction-2\\CristianRivero3.csv',
 'facebook\\extraction-2\\CristianRivero4.csv',
 'facebook\\extraction-2\\CristianRivero5.csv',
 'facebook\\extraction-2\\CristianRivero6.csv',
 'facebook\\extraction-2\\DamianyElToyo1.csv',
 'facebook\\extraction-2\\DamianyElToyo2.csv',
 'facebook\\extraction-2\\DamianyElToyo3.csv',
 'facebook\\extraction-2\\DamianyElToyo4.csv',
 'facebook\\extraction-2\\DamianyElToyo5.csv',
 'facebook\\extraction-2\\DamianyElToyo6.csv',
 'facebook\\extraction-2\\DamianyElToyo7.csv',
 'facebook\\extraction-2\\DaniellaFernandezVasallo_01.csv',
 'facebook\\extraction-2\\DiegoRebagliati_01.csv',
 'facebook\\extraction-2\\ElTankeAriasOficial_01.csv',
 'facebook\\extraction-2\\ElTankeAriasOficial_02.csv',
 'facebook\\extraction-2\\EmiliaDrago_01.csv',
 'facebook\\extraction-2\\ErikOsoresCorreccion_01.csv',
 'facebook\\extraction-2\\Fashaddicti_01.csv',
 'facebook\\extraction-2\\FrancoCabrera_01.csv',
 'facebook\\extraction-2\\FrancoNoriega_01.csv',
 'facebook\\extraction-2\\GabrielVillaran_01.csv',
 'facebook\\extraction-2\\GastonAcurio_01.csv',
 'facebook\\extraction-2\\GastonAcurio_02.csv',
 'facebook\\extraction-2\\GastonAcurio_03.csv',
 'facebook\\extraction-2\\GianellaClavijo1.csv',
 'facebook\\extraction-2\\GianellaClavijo10.csv',
 'facebook\\extraction-2\\GianellaClavijo11.csv',
 'facebook\\extraction-2\\GianellaClavijo12.csv',
 'facebook\\extraction-2\\GianellaClavijo13.csv',
 'facebook\\extraction-2\\GianellaClavijo14.csv',
 'facebook\\extraction-2\\GianellaClavijo15.csv',
 'facebook\\extraction-2\\GianellaClavijo16.csv',
 'facebook\\extraction-2\\GianellaClavijo17.csv',
 'facebook\\extraction-2\\GianellaClavijo2.csv',
 'facebook\\extraction-2\\GianellaClavijo3.csv',
 'facebook\\extraction-2\\GianellaClavijo4.csv',
 'facebook\\extraction-2\\GianellaClavijo5.csv',
 'facebook\\extraction-2\\GianellaClavijo6.csv',
 'facebook\\extraction-2\\GianellaClavijo7.csv',
 'facebook\\extraction-2\\GianellaClavijo8.csv',
 'facebook\\extraction-2\\GianellaClavijo9.csv',
 'facebook\\extraction-2\\Infamus1a19.csv',
 'facebook\\extraction-2\\Iwo1al21.csv',
 'facebook\\extraction-2\\JBJorgeBenavides1.csv',
 'facebook\\extraction-2\\JBJorgeBenavides2.csv',
 'facebook\\extraction-2\\JBJorgeBenavides3.csv',
 'facebook\\extraction-2\\JBJorgeBenavides4.csv',
 'facebook\\extraction-2\\JBJorgeBenavides5.csv',
 'facebook\\extraction-2\\JBJorgeBenavides6.csv',
 'facebook\\extraction-2\\JesusAlzamora1.csv',
 'facebook\\extraction-2\\JesusAlzamora2.csv',
 'facebook\\extraction-2\\JesusAlzamora3.csv',
 'facebook\\extraction-2\\JesusAlzamora4.csv',
 'facebook\\extraction-2\\JesusAlzamora5.csv',
 'facebook\\extraction-2\\JesusAlzamora6.csv',
 'facebook\\extraction-2\\JesusAlzamora7.csv',
 'facebook\\extraction-2\\JesusAlzamora8.csv',
 'facebook\\extraction-2\\JorgeTalavera1.csv',
 'facebook\\extraction-2\\JorgeTalavera2.csv',
 'facebook\\extraction-2\\JorgeTalavera3.csv',
 'facebook\\extraction-2\\JorgeTalavera4.csv',
 'facebook\\extraction-2\\JorgeTalavera5.csv',
 'facebook\\extraction-2\\JorgeTalavera6.csv',
 'facebook\\extraction-2\\JorgeTalavera7.csv',
 'facebook\\extraction-2\\JorgeTalavera8.csv',
 'facebook\\extraction-2\\JorgeTalavera9.csv',
 'facebook\\extraction-2\\JulianZucchi1.csv',
 'facebook\\extraction-2\\JulianZucchi2.csv',
 'facebook\\extraction-2\\JulianZucchi3.csv',
 'facebook\\extraction-2\\JulianZucchi4.csv',
 'facebook\\extraction-2\\JulianZucchi5.csv',
 'facebook\\extraction-2\\LaEspatulaVerde_01.csv',
 'facebook\\extraction-2\\LaEspatulaVerde_02.csv',
 'facebook\\extraction-2\\LaGastronauta_01.csv',
 'facebook\\extraction-2\\LaTata_01.csv',
 'facebook\\extraction-2\\LauraSpoya1.csv',
 'facebook\\extraction-2\\LauraSpoya2.csv',
 'facebook\\extraction-2\\LauraSpoya3.csv',
 'facebook\\extraction-2\\LauraSpoya4.csv',
 'facebook\\extraction-2\\LauraSpoya5.csv',
 'facebook\\extraction-2\\LuanaBarron_01.csv',
 'facebook\\extraction-2\\LuchoMedozaJr_01.csv',
 'facebook\\extraction-2\\LucianaFuster_01.csv',
 'facebook\\extraction-2\\LucianoMazzetti_01.csv',
 'facebook\\extraction-2\\LucyWeird1a14.csv',
 'facebook\\extraction-2\\MadeInPeru_01.csv',
 'facebook\\extraction-2\\MamiDientes_01.csv',
 'facebook\\extraction-2\\ManuelaGarridoLecca_01.csv',
 'facebook\\extraction-2\\MariaPiaCopello_01.csv',
 'facebook\\extraction-2\\MariaPiaCopello_02.csv',
 'facebook\\extraction-2\\MariaPiaCopello_03.csv',
 'facebook\\extraction-2\\MarlonMax1a15.csv',
 'facebook\\extraction-2\\MateoGarridoLecca1.csv',
 'facebook\\extraction-2\\MateoGarridoLecca10.csv',
 'facebook\\extraction-2\\MateoGarridoLecca11.csv',
 'facebook\\extraction-2\\MateoGarridoLecca12.csv',
 'facebook\\extraction-2\\MateoGarridoLecca2.csv',
 'facebook\\extraction-2\\MateoGarridoLecca3.csv',
 'facebook\\extraction-2\\MateoGarridoLecca4.csv',
 'facebook\\extraction-2\\MateoGarridoLecca5.csv',
 'facebook\\extraction-2\\MateoGarridoLecca6.csv',
 'facebook\\extraction-2\\MateoGarridoLecca7.csv',
 'facebook\\extraction-2\\MateoGarridoLecca8.csv',
 'facebook\\extraction-2\\MateoGarridoLecca9.csv',
 'facebook\\extraction-2\\MichaelSuccar_01.csv',
 'facebook\\extraction-2\\MitsuharoMaido_01.csv',
 'facebook\\extraction-2\\MiVidaConMaca_01.csv',
 'facebook\\extraction-2\\MrChoco1a53.csv',
 'facebook\\extraction-2\\NataliaMalaga_01.csv',
 'facebook\\extraction-2\\NataliaMalaga_02.csv',
 'facebook\\extraction-2\\OnceUponAMom_01.csv',
 'facebook\\extraction-2\\OscarDelPortalOliveri_01.csv',
 'facebook\\extraction-2\\OscarDelPortalOliveri_02.csv',
 'facebook\\extraction-2\\PaolaChiappinaDiPaola_01.csv',
 'facebook\\extraction-2\\PhilipChuJoy_01.csv',
 'facebook\\extraction-2\\RaffaellaCamet_01.csv',
 'facebook\\extraction-2\\Random1.csv',
 'facebook\\extraction-2\\Random2.csv',
 'facebook\\extraction-2\\rebecaScribens1.csv',
 'facebook\\extraction-2\\RicardoMendoza1a15.csv',
 'facebook\\extraction-2\\SmashSina1a39.csv',
 'facebook\\extraction-2\\TaliaAzcarate_01.csv',
 'facebook\\extraction-2\\TwoSidesBlog_01.csv',
 'facebook\\extraction-2\\UmiHyu1a5.csv',
 'facebook\\extraction-2\\VanessaTello_01.csv',
 'facebook\\extraction-2\\Whatthechic_01.csv',
 'facebook\\extraction-2\\Whatthechic_02.csv',
 'facebook\\extraction-2\\XimenaGaliano1.csv',
 'facebook\\extraction-2\\XimenaGaliano10.csv',
 'facebook\\extraction-2\\XimenaGaliano11.csv',
 'facebook\\extraction-2\\XimenaGaliano12.csv',
 'facebook\\extraction-2\\XimenaGaliano13.csv',
 'facebook\\extraction-2\\XimenaGaliano14.csv',
 'facebook\\extraction-2\\XimenaGaliano15.csv',
 'facebook\\extraction-2\\XimenaGaliano16.csv',
 'facebook\\extraction-2\\XimenaGaliano2.csv',
 'facebook\\extraction-2\\XimenaGaliano3.csv',
 'facebook\\extraction-2\\XimenaGaliano4.csv',
 'facebook\\extraction-2\\XimenaGaliano5.csv',
 'facebook\\extraction-2\\XimenaGaliano6.csv',
 'facebook\\extraction-2\\XimenaGaliano7.csv',
 'facebook\\extraction-2\\XimenaGaliano8.csv',
 'facebook\\extraction-2\\XimenaGaliano9.csv',
 'facebook\\extraction-2\\XimenaMoral_01.csv',
 'facebook\\extraction-2\\YiddaEslava_01.csv',
 'facebook\\extraction-2\\YiddaEslava_02.csv']

In [4]:
df_list = (pd.read_csv(file, sep = ';') for file in csv_files)

In [5]:
big_df = pd.concat(df_list, ignore_index=True)

C:\Users\JairL\AppData\Local\Temp\ipykernel_12696\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)

In [6]:
df = big_df.dropna(subset=['message'])

In [7]:
df = df[df['message'].str.len()>15]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1093679 entries, 6 to 1601756
Data columns (total 11 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   level         1093679 non-null  object
 1   id            1093679 non-null  object
 2   parent_id     1093679 non-null  object
 3   object_id     1093679 non-null  object
 4   object_type   1093679 non-null  object
 5   object_key    1093679 non-null  object
 6   query_status  1093679 non-null  object
 7   query_time    1093679 non-null  object
 8   query_type    1093679 non-null  object
 9   name          0 non-null        object
 10  message       1093679 non-null  object
dtypes: object(11)
memory usage: 100.1+ MB

In [9]:
df = df.drop_duplicates(subset=['message'], keep='first')

In [10]:
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un millón de veces y no m...
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...
13,1,21,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,solo apsa en Perú
...,...,...,...,...,...,...,...,...,...,...,...
1601716,1,18509,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:10.746875,Facebook:/<comment-id>/comments,NaN,Edith Ana Quispe mira esto
1601737,1,18530,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Saludame ♥️♥️♥️♥️
1601739,1,18532,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Holaa yifda un saludito
1601744,1,18537,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Holiii.. Yo quiero tu libro 😍
1601756,1,18549,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Yidda me recomiendas al neurópediatra para la ...

In [11]:
#exclude words
words = ['jaja','jajaja', 'jajajajajajaja','jajajajjajajajaja','Jajajajajajajajaja','jajajaja','jajajajjajajajaja', 'jajajajja','jijiji', 'saludo', 'saluda', 'xd', 'hola', 'zzz']
min_length = 20

def remove_words(text):
    for x in words:
        text = text.lower().replace(x, '')
    if len(text)>min_length:
        return True
    return False

In [12]:
print(remove_words('Belén Sánchez Castillo jajajajaja'))

True

In [13]:
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un millón de veces y no m...
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...
13,1,21,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,solo apsa en Perú
...,...,...,...,...,...,...,...,...,...,...,...
1601716,1,18509,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:10.746875,Facebook:/<comment-id>/comments,NaN,Edith Ana Quispe mira esto
1601737,1,18530,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Saludame ♥️♥️♥️♥️
1601739,1,18532,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Holaa yifda un saludito
1601744,1,18537,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Holiii.. Yo quiero tu libro 😍
1601756,1,18549,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Yidda me recomiendas al neurópediatra para la ...

In [14]:
#remove rows that are too small when excluding the list.
df['valid'] = df['message'].apply(lambda row: remove_words(row))
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,valid
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA,True
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa,False
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un millón de veces y no m...,True
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...,True
13,1,21,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,solo apsa en Perú,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1601716,1,18509,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:10.746875,Facebook:/<comment-id>/comments,NaN,Edith Ana Quispe mira esto,True
1601737,1,18530,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Saludame ♥️♥️♥️♥️,False
1601739,1,18532,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Holaa yifda un saludito,False
1601744,1,18537,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Holiii.. Yo quiero tu libro 😍,True
1601756,1,18549,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Yidda me recomiendas al neurópediatra para la ...,True

In [15]:
df_false = df[df['valid']== False]
df_false

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,valid
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa,False
13,1,21,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,solo apsa en Perú,False
25,1,33,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Prende ps MOSCASOR,False
33,1,41,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:30.272841,Facebook:/<comment-id>/comments,NaN,Anderson Lombardixd,False
39,1,47,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:30.272841,Facebook:/<comment-id>/comments,NaN,Adriana Mejia jaaaaa,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1601704,1,18497,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:10.746875,Facebook:/<comment-id>/comments,NaN,Hola comadre 😄 👑✨💐👋😘,False
1601706,1,18499,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:10.746875,Facebook:/<comment-id>/comments,NaN,Holaaaa lindaaa😍😍😍,False
1601714,1,18507,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:10.746875,Facebook:/<comment-id>/comments,NaN,Holaaaaa ❤️❤️❤️❤️❤️❤️,False
1601737,1,18530,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Saludame ♥️♥️♥️♥️,False
1601739,1,18532,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Holaa yifda un saludito,False

In [16]:
df =df[df['valid']== True]

In [17]:
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,valid
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA,True
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un millón de veces y no m...,True
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...,True
14,1,22,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Dicen que se vió esos pasitos Skeres en el ton...,True
15,1,23,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Greys Sajami que haces ahí,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1601705,1,18498,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:10.746875,Facebook:/<comment-id>/comments,NaN,Hola toda me podrías mandar saludos soy Yarexs...,True
1601709,1,18502,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:10.746875,Facebook:/<comment-id>/comments,NaN,Desde Argentina un beso te mando,True
1601716,1,18509,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:10.746875,Facebook:/<comment-id>/comments,NaN,Edith Ana Quispe mira esto,True
1601744,1,18537,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Holiii.. Yo quiero tu libro 😍,True
1601756,1,18549,3,580243363258960,data,data.*,fetched (200),2023-10-10 22:24:11.059672,Facebook:/<comment-id>/comments,NaN,Yidda me recomiendas al neurópediatra para la ...,True

In [18]:
df = df.reset_index()

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565374 entries, 0 to 565373
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   index         565374 non-null  int64
 1   level         565374 non-null  object
 2   id            565374 non-null  object
 3   parent_id     565374 non-null  object
 4   object_id     565374 non-null  object
 5   object_type   565374 non-null  object
 6   object_key    565374 non-null  object
 7   query_status  565374 non-null  object
 8   query_time    565374 non-null  object
 9   query_type    565374 non-null  object
 10  name          0 non-null       object
 11  message       565374 non-null  object
 12  valid         565374 non-null  bool
dtypes: bool(1), int64(1), object(11)
memory usage: 52.3+ MB

In [28]:
df.sample(30)

,index,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,valid
301450,564814,1,472,4,450282112186621,data,data.*,fetched (200),2023-10-08 18:49:19.721585,Facebook:/<comment-id>/comments,NaN,Hermosa y tiernas ale,True
260972,495540,1,2342,1,1017912148384845,data,data.*,fetched (200),2023-09-29 16:10:10.208753,Facebook:/<post-id>/comments,NaN,Mariano Sayán Villanueva la gente se va en floro,True
275165,515504,1,16166,1,885511271624934,data,data.*,fetched (200),2023-09-29 15:30:05.029299,Facebook:/<post-id>/comments,NaN,Ricardo Valladares lo voy a hacer JAJAJAJAJA,True
284956,538231,1,345,1,146550186673443,data,data.*,fetched (200),2023-09-29 15:41:02.041219,Facebook:/<post-id>/comments,NaN,Rossana Toledo Fraginals así le vamos a hacer!...,True
283123,532869,1,33531,1,885511271624934,data,data.*,fetched (200),2023-09-29 15:35:48.049223,Facebook:/<post-id>/comments,NaN,Atilio Alvarez Ramos :(,True
452911,1159414,1,185,10,1167722644629346,data,data.*,fetched (200),2023-10-08 10:50:52.082964,Facebook:/<comment-id>/comments,NaN,😃😃😃😃😃 que bonito es el amor,True
509027,1313595,1,5675,37,958726200971820,data,data.*,fetched (200),2023-10-08 08:13:59.602016,Facebook:/<comment-id>/comments,NaN,Luis Enrique Alemán quiten esto por favor 😅,True
37461,72630,1,1895,1,1937350449670882,data,data.*,fetched (200),2023-10-01 15:57:37.013134,Facebook:/<comment-id>/comments,NaN,Karol Yataco Pachas su cumple de Sophie,True
158433,293343,1,5962,6,3504967216230136,data,data.*,fetched (200),2023-10-04 21:14:53.118413,Facebook:/<comment-id>/comments,NaN,Gerardo Malcolm Bustamante Rodrigo Llamosas G...,True
150996,275547,1,16361,1,1693898353972863,data,data.*,fetched (200),2023-09-28 22:45:57.078797,Facebook:/<post-id>/comments,NaN,Tu Hugo Fernando Aguilar 💔💔💔,True
177968,326989,1,75,1,1322849097815104,data,data.*,fetched (200),2023-10-01 11:52:51.503108,Facebook:/<post-id>/comments,NaN,Diego Arroyo JAJAJAJAJA VAMOS A JUERGUEAR CON ...,True
150491,274587,1,15401,1,1693898353972863,data,data.*,fetched (200),2023-09-28 22:45:39.860091,Facebook:/<post-id>/comments,NaN,Jose Carlos Pinto Vera jazmin 1 😡,True
64824,122914,1,692,13,680124338860327,data,data.*,fetched (200),2023-10-05 19:41:44.684674,Facebook:/<comment-id>/comments,NaN,chichamorada es el elote ?,True
497854,1296444,1,14281,144,719731911564545,data,data.*,fetched (200),2023-10-12 01:12:29.354172,Facebook:/<comment-id>/comments,NaN,Yo estoy llorando en la cama de mi hija. Le to...,True
98,158,1,168,7,372233297036050,data,data.*,fetched (200),2023-10-03 20:30:12.284408,Facebook:/<comment-id>/comments,NaN,"Tienes mucho delay chompi, en dota tv ya esta ...",True
338459,756283,1,1279,4,6762842317134676,data,data.*,fetched (200),2023-10-08 21:34:18.333808,Facebook:/<comment-id>/comments,NaN,"Hablan huevadas, el fútbol se fue a la mrd, pa...",True
235343,449663,1,15705,29,293331430016153,data,data.*,fetched (200),2023-10-01 17:42:39.525920,Facebook:/<comment-id>/comments,NaN,comend willow pero igual jalao,True
196409,373888,1,11148,7636,1300726950551350,data,data.*,fetched (200),2023-10-04 20:20:20.310795,Facebook:/<comment-id>/comments,NaN,Ya. Va. Hacer. El. Grito. De. Mexico,True
386594,825996,1,70992,110,550875032743607,data,data.*,fetched (200),2023-10-08 22:14:14.152708,Facebook:/<comment-id>/comments,NaN,Erick un saludo para mi papá Pedro Tinedo porf...,True
527464,1450879,1,6091,46,1576092319152038,data,data.*,fetched (200),2023-10-09 20:21:34.689730,Facebook:/<comment-id>/comments,NaN,Sheyla Bocanegra Sueldo jajaja aplicaaaaaa 😁,True
283898,535529,1,36191,1,885511271624934,data,data.*,fetched (200),2023-09-29 15:36:41.026137,Facebook:/<post-id>/comments,NaN,Diego Jarama Bazalar jajaja,True
108958,191345,1,1803,1,450574205864690,data,data.*,fetched (200),2023-09-29 16:58:30.822241,Facebook:/<post-id>/comments,NaN,Georgia Pacheco Noelia Xiomara Pacheco Torrebl...,True
405709,998748,1,16199,119,1613884081995020,data,data.*,fetched (200),2023-10-11 22:33:12.814011,Facebook:/<comment-id>/comments,NaN,Esta muy bueno!!! Necesito uno urgente :),True
549731,1576815,1,26700,64,466245671564668,data,data.*,fetched (200),2023-10-10 22:15:19.078630,Facebook:/<comment-id>/comments,NaN,Saludos desde Puente piedra🙏,True
310697,710805,1,1112,16,2193746944077402,data,data.*,fetched (200),2023-10-08 17:35:09.689625,Facebook:/<comment-id>/comments,NaN,Rico grito de Gol en la transmisión!,True
75463,139409,1,14668,46,10156096544093130,data,data.*,fetched (200),2023-10-05 20:03:30.480157,Facebook:/<comment-id>/comments,NaN,Ines Rodriguez de Raffo para navidad puede ser,True
218940,420354,1,10611,8,1669010166513393,data,data.*,fetched (200),2023-10-01 21:42:42.003131,Facebook:/<comment-id>/comments,NaN,Ana Paula Aliaga Melgarejo,True
429673,1089701,1,4539,15,574113241245000,data,data.*,fetched (200),2023-10-10 20:24:30.362611,Facebook:/<comment-id>/comments,NaN,Para distraer al pueblo! Mientras saqueando el...,True
483321,1265413,1,19190,54,508811349800021,data,data.*,fetched (200),2023-10-08 17:00:35.883114,Facebook:/<comment-id>/comments,NaN,Execelente mensaje. Falto Rosa Garcia la mejor...,True
29871,61399,1,1059,1,922107617982429,data,data.*,fetched (200),2023-10-01 15:50:50.660790,Facebook:/<comment-id>/comments,NaN,Jazmín Jazmin Bereny Diaz Diaz jajajaja estas ...,True

In [21]:
#https://towardsdatascience.com/emojis-aid-social-media-sentiment-analysis-stop-cleaning-them-out-bb32a1e5fc8e