In [1]:
import sys
import pandas as pd 
import os 
import glob

In [2]:
MIN_CHAR_LENGHT = 20

In [3]:
csv_files = glob.glob(os.path.join(r"facebook/extraction-*/", "*.csv"))

In [4]:
#csv_files

In [5]:
df_list = (pd.read_csv(file, sep = ';') for file in csv_files)

In [6]:
big_df = pd.concat(df_list, ignore_index=True)

C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)
C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)
C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)
C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)
C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)
C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)
C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)
C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)
C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)
C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)
C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)
C:\Users\JairL\AppData\Local\Temp\ipykernel_46376\1999715855.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file, sep = ';') for file in csv_files)

In [7]:
df = big_df.dropna(subset=['message'])

In [8]:
df = df[df['message'].str.len()>=MIN_CHAR_LENGHT]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2985229 entries, 6 to 4966403
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   level         object
 1   id            object
 2   parent_id     object
 3   object_id     object
 4   object_type   object
 5   object_key    object
 6   query_status  object
 7   query_time    object
 8   query_type    object
 9   name          object
 10  message       object
 11  path          float64
dtypes: float64(1), object(11)
memory usage: 296.1+ MB

In [10]:
df = df.drop_duplicates(subset=['message'], keep='first')

In [11]:
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,path
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA,NaN
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa,NaN
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un mill√≥n de veces y no m...,NaN
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...,NaN
14,1,22,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Dicen que se vi√≥ esos pasitos Skeres en el ton...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4804475,1,8384,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Silvia Palza Malabrigo,NaN
4804481,1,8390,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Bruno Cafferata Elsa Casta√±eda,NaN
4804486,1,8395,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Marilyn L. Ticona atenti a esto y yo tambi√©n. üòÅ,NaN
4804487,1,8396,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Itala Katherine Mendoza es a √©l a qui√©n le vi...,NaN
4804489,1,8398,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,William Zavaleta Garcia as√≠ pls üôè,NaN

In [12]:
#exclude words
words = ['jaja','jajaja', 'jajajajajajja', 'jajajajajajaja','jajajajjajajajaja','Jajajajajajajajaja','jajajaja','jajajajjajajajaja', 'jajajajja','jijiji', 'saludo', 'saluda', 'xd', 'hola', 'zzz']
def remove_words(text):
    for x in words:
        text = text.lower().replace(x, '')
    if len(text)>=MIN_CHAR_LENGHT:
        return True
    return False

In [13]:
print(remove_words('Bel√©n S√°nchez Castillo jajajajaja'))

True

In [14]:
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,path
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA,NaN
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa,NaN
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un mill√≥n de veces y no m...,NaN
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...,NaN
14,1,22,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Dicen que se vi√≥ esos pasitos Skeres en el ton...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4804475,1,8384,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Silvia Palza Malabrigo,NaN
4804481,1,8390,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Bruno Cafferata Elsa Casta√±eda,NaN
4804486,1,8395,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Marilyn L. Ticona atenti a esto y yo tambi√©n. üòÅ,NaN
4804487,1,8396,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Itala Katherine Mendoza es a √©l a qui√©n le vi...,NaN
4804489,1,8398,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,William Zavaleta Garcia as√≠ pls üôè,NaN

In [15]:
#remove rows that are too small when excluding the list.
df['valid'] = df['message'].apply(lambda row: remove_words(row))
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,path,valid
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA,NaN,True
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa,NaN,True
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un mill√≥n de veces y no m...,NaN,True
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...,NaN,True
14,1,22,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Dicen que se vi√≥ esos pasitos Skeres en el ton...,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804475,1,8384,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Silvia Palza Malabrigo,NaN,True
4804481,1,8390,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Bruno Cafferata Elsa Casta√±eda,NaN,True
4804486,1,8395,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Marilyn L. Ticona atenti a esto y yo tambi√©n. üòÅ,NaN,True
4804487,1,8396,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Itala Katherine Mendoza es a √©l a qui√©n le vi...,NaN,True
4804489,1,8398,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,William Zavaleta Garcia as√≠ pls üôè,NaN,True

In [16]:
df_false = df[df['valid']== False]
df_false

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,path,valid
106,1,114,3,3963455660362592,data,data.*,fetched (200),2023-10-03 20:29:35.809339,Facebook:/<comment-id>/comments,NaN,Viktor VanDort jajaja üòÇ,NaN,False
339,1,349,7,372233297036050,data,data.*,fetched (200),2023-10-03 20:30:15.129249,Facebook:/<comment-id>/comments,NaN,Saludame paaaaapiiiiii,NaN,False
355,1,365,7,372233297036050,data,data.*,fetched (200),2023-10-03 20:30:15.537832,Facebook:/<comment-id>/comments,NaN,Hola chavosorrrrr!!!!,NaN,False
444,1,454,7,372233297036050,data,data.*,fetched (200),2023-10-03 20:30:16.787158,Facebook:/<comment-id>/comments,NaN,Saludame porfa chavito,NaN,False
465,1,475,7,372233297036050,data,data.*,fetched (200),2023-10-03 20:30:17.108271,Facebook:/<comment-id>/comments,NaN,chavito me saludas c:,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4799661,1,3570,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:52:10.395243,Facebook:/<comment-id>/comments,NaN,NataliaReategui jajjaja,NaN,False
4800915,1,4824,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:52:30.087387,Facebook:/<comment-id>/comments,NaN,"Jajaja, vengan a Mexico",NaN,False
4800975,1,4884,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:52:30.777653,Facebook:/<comment-id>/comments,NaN,Mayreli Ch√°vez jaja üòé,NaN,False
4801313,1,5222,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:53:36.106850,Facebook:/<comment-id>/comments,NaN,√Älex Reig Jou jajjajaa,NaN,False
4804171,1,8080,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:18.861111,Facebook:/<comment-id>/comments,NaN,Estefan√≠a Laureano xD,NaN,False

In [17]:
df =df[df['valid']== True]

In [18]:
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,path,valid
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA,NaN,True
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa,NaN,True
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un mill√≥n de veces y no m...,NaN,True
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...,NaN,True
14,1,22,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Dicen que se vi√≥ esos pasitos Skeres en el ton...,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804475,1,8384,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Silvia Palza Malabrigo,NaN,True
4804481,1,8390,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Bruno Cafferata Elsa Casta√±eda,NaN,True
4804486,1,8395,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Marilyn L. Ticona atenti a esto y yo tambi√©n. üòÅ,NaN,True
4804487,1,8396,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,Itala Katherine Mendoza es a √©l a qui√©n le vi...,NaN,True
4804489,1,8398,1,1487688164660839,data,data.*,fetched (200),2023-10-14 21:56:23.810546,Facebook:/<comment-id>/comments,NaN,William Zavaleta Garcia as√≠ pls üôè,NaN,True

In [19]:
df = df.reset_index()

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900676 entries, 0 to 1900675
Data columns (total 14 columns):
 #   Column        Dtype
---  ------        -----
 0   index         int64
 1   level         object
 2   id            object
 3   parent_id     object
 4   object_id     object
 5   object_type   object
 6   object_key    object
 7   query_status  object
 8   query_time    object
 9   query_type    object
 10  name          object
 11  message       object
 12  path          float64
 13  valid         bool
dtypes: bool(1), float64(1), int64(1), object(11)
memory usage: 190.3+ MB

In [21]:
df.sample(30)

,index,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,path,valid
798835,1985502,1,262325,326,2697971137099345,data,data.*,fetched (200),2023-10-25 08:44:03.660652,Facebook:/<comment-id>/comments,NaN,ya te llegara tu cana...adicional usted tambie...,NaN,True
1438069,3279719,1,111430,158,801879203976487,data,data.*,fetched (200),2023-10-25 18:13:40.863903,Facebook:/<comment-id>/comments,NaN,Ximena Encinas Angelina Cabrera Areli Hernande...,NaN,True
112707,191446,1,1904,1,450574205864690,data,data.*,fetched (200),2023-09-29 16:58:32.461609,Facebook:/<post-id>/comments,NaN,Bairon R. Alarc√≥n JAJAJAJA quien ser√°,NaN,True
1019383,2464073,1,32446,83,1674414479739379,data,data.*,fetched (200),2023-10-26 19:50:43.900482,Facebook:/<comment-id>/comments,NaN,Huevadas y toman tanta importancia,NaN,True
1059206,2513488,1,40199,14,799219147876782,data,data.*,fetched (200),2023-10-25 20:30:18.869495,Facebook:/<comment-id>/comments,NaN,Sarta de delincuentes,NaN,True
1647569,3827478,1,21231,94,147335597289216,data,data.*,fetched (200),2023-10-13 16:26:26.526974,Facebook:/<comment-id>/comments,NaN,Margareth Velazco Loza <3,NaN,True
70637,128542,1,3801,12,306914903861430,data,data.*,fetched (200),2023-10-05 20:00:14.175726,Facebook:/<comment-id>/comments,NaN,Bien por anteponerte a los gustos de tus herma...,NaN,True
654460,1795997,1,72820,167,878585739741686,data,data.*,fetched (200),2023-10-24 19:54:00.256429,Facebook:/<comment-id>/comments,NaN,Sigues ajustando üòÇüòÇüòÇüòÇüòÇ,NaN,True
166767,297969,1,594,1,284249033246886,data,data.*,fetched (200),2023-10-01 17:18:48.488588,Facebook:/<comment-id>/comments,NaN,Lucy Lucy eres tan linda como el sol que nos i...,NaN,True
1454619,3327759,1,14211,72,332939182530299,data,data.*,fetched (200),2023-10-23 21:07:00.891098,Facebook:/<comment-id>/comments,NaN,Esto le falta a esta chicaüß†üß†üß†üß†üß†,NaN,True
1502150,3402328,1,17970,49,3628368414154144,data,data.*,fetched (200),2023-10-22 13:39:28.720827,Facebook:/<comment-id>/comments,NaN,Si queremos romper estereotipos y esas vainas ...,NaN,True
729604,1894245,1,171068,216,436557564064958,data,data.*,fetched (200),2023-10-24 20:40:34.302643,Facebook:/<comment-id>/comments,NaN,Buen trabajo willax .üáµüá™üí™üèªestamos contigo .duel...,NaN,True
882430,2196922,1,40412,67,1017677199639339,data,data.*,fetched (200),2023-10-22 14:15:39.035407,Facebook:/<comment-id>/comments,NaN,Eso si va ser la gran sorpresa un mate de risa...,NaN,True
1468341,3348722,1,35174,142,340255308328201,data,data.*,fetched (200),2023-10-23 21:16:11.256932,Facebook:/<comment-id>/comments,NaN,Ojal√° ya se haya operado la Cuca porque parec√≠...,NaN,True
1593800,3637594,1,94681,187,4252033008172560,data,data.*,fetched (200),2023-10-15 08:50:40.761140,Facebook:/<comment-id>/comments,NaN,"Eres lindo, t√∫ si debes botarte como aut√©ntico...",NaN,True
1802556,4657174,1,38160,229,3125940970790719,data,data.*,fetched (200),2023-10-14 19:05:18.567000,Facebook:/<comment-id>/comments,NaN,Rosario Timana Chamichumbe,NaN,True
1341093,3067502,1,95885,159,370666081702576,data,data.*,fetched (200),2023-10-22 19:54:54.592704,Facebook:/<comment-id>/comments,NaN,JAJAJAJAJAJAJAJAAJJAA PERO LA SONRISA AL FINA...,NaN,True
138385,250791,1,203,1,810175507480839,data,data.*,fetched (200),2023-09-28 22:12:07.641625,Facebook:/<post-id>/comments,NaN,Los dos son inmaculadas tremendas bulgares sw ...,NaN,True
1609322,3664116,1,121203,264,514238269110053,data,data.*,fetched (200),2023-10-15 08:58:19.690583,Facebook:/<comment-id>/comments,NaN,Anoche dorm√≠ viendo tu reportaje !!buenazooo v...,NaN,True
508757,1283663,1,1500,25,349209726017037,data,data.*,fetched (200),2023-10-12 01:08:14.131417,Facebook:/<comment-id>/comments,NaN,Fracasa la dieta porque no cambias el chip de ...,NaN,True
1137772,2606403,1,133114,39,1355573898302925,data,data.*,fetched (200),2023-10-25 20:54:18.892335,Facebook:/<comment-id>/comments,NaN,DEMUESTRALO YA. PORQUE DAS TANTAS VUELTAS . TE...,NaN,True
1368084,3110112,1,138495,201,301103962098453,data,data.*,fetched (200),2023-10-22 20:07:15.148966,Facebook:/<comment-id>/comments,NaN,George Torres Frank Js Socola Jairo Maza Chiro...,NaN,True
832282,2037211,1,34644,260,1398367743619704,data,data.*,fetched (200),2023-10-15 09:55:18.559107,Facebook:/<comment-id>/comments,NaN,Alexander Panta Ccasani,NaN,True
1009286,2448683,1,17056,16,962346214859780,data,data.*,fetched (200),2023-10-26 19:45:13.248681,Facebook:/<comment-id>/comments,NaN,No hay nada arribaüòÅes nuestra conciencia y nue...,NaN,True
1124098,2590117,1,116828,36,589825142685733,data,data.*,fetched (200),2023-10-25 20:49:59.651405,Facebook:/<comment-id>/comments,NaN,Porq no juzgan ha keiko sinverguenzas fiscales...,NaN,True
886232,2204351,1,47841,72,536755031926758,data,data.*,fetched (200),2023-10-22 14:17:42.120650,Facebook:/<comment-id>/comments,NaN,Chino Saludos DE ecuador lo maximo en comedia ...,NaN,True
859544,2142918,1,12401,37,1927741560814261,data,data.*,fetched (200),2023-10-17 22:44:08.400345,Facebook:/<comment-id>/comments,NaN,Jsjaj si ps Iguallito,NaN,True
1034752,2484082,1,10793,3,634471871566418,data,data.*,fetched (200),2023-10-25 20:22:26.654105,Facebook:/<comment-id>/comments,NaN,El pueblo quiere nueva constituci√≥n,NaN,True
1581018,3610610,1,67697,143,253807169992584,data,data.*,fetched (200),2023-10-15 08:41:43.359375,Facebook:/<comment-id>/comments,NaN,Que viva la vida loca!!! Que viva la vida feli...,NaN,True
316226,663499,1,2943,5,896918287152368,data,data.*,fetched (200),2023-10-09 20:45:33.003400,Facebook:/<comment-id>/comments,NaN,Ya estoy participando :*,NaN,True

In [22]:
#Slang Extraction

In [23]:
SENTENCE_LENGTH = 10000000 #limit of characters to extract
def extract_sentence(corpus, text):
    sentences = []
    for line in list(corpus):
        if (" "+text in line.lower()) & (len(line) <= SENTENCE_LENGTH):
#             print(line)
            sentences.append(line.strip().replace("\n"," "))
#             print('=============================================================================')
        
#     print(sentences)
    return sentences

In [54]:
df_slang = pd.read_csv(r'peruvian-slang.v1.csv', usecols = ['Jerga','tipo'])
df_slang

                          Jerga       tipo
0                            Pe      Jerga
1                            Oe      Jerga
2                       Lechero      Jerga
3                       Lenteja      Jerga
4               Tirarse la pera  expresi√≥n
...                         ...        ...
2339      Meter floro o florear  expresi√≥n
2340  Tus perras est√°n ladrando  expresi√≥n
2341          Hacer una chancha  expresi√≥n
2342                Pitri mitri  expresi√≥n
2343        en la luna de paita  expresi√≥n

[2344 rows x 2 columns]

In [56]:
data = []
slang_length = 3 #minimun length of characters of an slang

In [57]:
pd.set_option("max_colwidth", 300)

In [74]:
df_sample = df.sample(10_000)
df_sample = df_sample[['id', 'object_id', 'message']]
df_sample

,id,object_id,message
1056245,36622,5922144211147729,Es mentira el pueblo llo respalda
1573952,55421,738508037316677,El ministro est√° ocupado defendiendo al burro
483852,2268,1383937592012711,Lugar de entrenamiento y costo porfavor y de que edades reciben
1273104,16145,668688510547070,Ese cholo mena con anemia xddd
919308,111523,429148945895486,"Saludos ü§ó desde ESPA√ëA, MADRID üá™üá∏, para Geraldine, Joaqu√≠n y Beatriz üòâ"
...,...,...,...
59502,3588,1157451784658852,Se le sali√≥ todo el tarrajeo de la cara üòÑüòÑ
1790334,20022,1202481306760457,Por favor debe de decir los precios gracias.
970187,23056,3521853364574962,A la tia que vende huevitos pes jajaja
1124423,117192,589825142685733,Pobre chica q Dios lo proteja
1187063,193231,453461103460178,..ser√° el jefe del.canal...

In [27]:
def find_slang(text):
    slangs = ""
    for i in df_slang.index:
        slang = df_slang['Jerga'][i].lower()
        if (len(slang)>slang_length):
            if " "+slang in text.lower():
                slangs += slang + ","
    return slangs

In [28]:
import psutil 
print('Physical Cores=', psutil.cpu_count(logical=False))
print('Logical Cores=',  psutil.cpu_count(logical=True))

Physical Cores= 8
Logical Cores= 16

In [29]:
#to run in multple cores
#pip install swifter

In [30]:
import swifter

In [31]:
import pandas as pd

# this is an example of common operations you have to perform on text
# data to go from raw text to clean text you can use for modelling
def process_df_function(df):
    output_df = df.copy()
    # replace weird double quotes with normal ones
    output_df['slangs'] = output_df['message'].swifter.apply(lambda row: find_slang(row))
    return output_df

In [32]:
import multiprocessing
import numpy as np

NUM_CORES = 5

# split the raw dataframe into chunks
df_chunks = np.array_split(df_sample ,NUM_CORES)

In [75]:
#df_chunks

In [34]:
# use a pool to spawn multiple proecsses
# with multiprocessing.Pool(NUM_CORES) as pool:
#     processed_df = pd.concat(pool.map(process_df_function, df_chunks), ignore_index=True)

In [ ]:
df_sample['slangs'] = df_sample['message'].swifter.apply(lambda row: find_slang(row))
df_sample

Pandas Apply:   0%|          | 0/10000 [00:00<?, ?it/s]

In [ ]:
df_sample.sample(30)

In [37]:
#https://towardsdatascience.com/emojis-aid-social-media-sentiment-analysis-stop-cleaning-them-out-bb32a1e5fc8e

In [ ]:
#https://queirozf.com/entries/pandas-for-large-data