In [1]:
import sys
import pandas as pd 
import os 
import glob

In [35]:
csv_files = glob.glob(os.path.join(r"facebook/extraction-*/", "*.csv"))

In [3]:
df_list = (pd.read_csv(file, sep = ';') for file in csv_files)

In [4]:
big_df = pd.concat(df_list, ignore_index=True)

In [5]:
df = big_df.dropna(subset=['message'])

In [6]:
df = df[df['message'].str.len()>15]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 385569 entries, 6 to 557999
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   level         385569 non-null  object
 1   id            385569 non-null  object
 2   parent_id     385569 non-null  object
 3   object_id     385569 non-null  object
 4   object_type   385569 non-null  object
 5   object_key    385569 non-null  object
 6   query_status  385569 non-null  object
 7   query_time    385569 non-null  object
 8   query_type    385569 non-null  object
 9   name          0 non-null       object
 10  message       385569 non-null  object
dtypes: object(11)
memory usage: 35.3+ MB

In [8]:
df = df.drop_duplicates(subset=['message'], keep='first')

In [9]:
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un millón de veces y no m...
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...
13,1,21,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,solo apsa en Perú
...,...,...,...,...,...,...,...,...,...,...,...
557995,1,4435,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Alondra Aguilar Caldas xdeeeeee
557996,1,4436,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Karina Canelo me escuchas?
557997,1,4437,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Williams el fantasma del ex XD
557998,1,4438,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Jonatan Ferre Verastegui reacciona basura :v
557999,1,4439,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Karen Tatiana jajajajajajaja esto se gana su o...

In [34]:
#exclude words
words = ['jaja','jajaja', 'jajajajajajaja','jajajajjajajajaja','Jajajajajajajajaja','jajajaja','jajajajjajajajaja', 'jajajajja','jijiji', 'saludo', 'saluda', 'xd', 'hola', 'zzz']
min_length = 20

def remove_words(text):
    for x in words:
        text = text.lower().replace(x, '')
    if len(text)>min_length:
        return True
    return False

In [11]:
print(remove_words('Belén Sánchez Castillo jajajajaja'))

True

In [12]:
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un millón de veces y no m...
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...
13,1,21,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,solo apsa en Perú
...,...,...,...,...,...,...,...,...,...,...,...
557995,1,4435,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Alondra Aguilar Caldas xdeeeeee
557996,1,4436,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Karina Canelo me escuchas?
557997,1,4437,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Williams el fantasma del ex XD
557998,1,4438,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Jonatan Ferre Verastegui reacciona basura :v
557999,1,4439,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Karen Tatiana jajajajajajaja esto se gana su o...

In [13]:
#remove rows that are too small when excluding the list.
df['valid'] = df['message'].apply(lambda row: remove_words(row))
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,valid
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA,True
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa,False
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un millón de veces y no m...,True
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...,True
13,1,21,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,solo apsa en Perú,False
...,...,...,...,...,...,...,...,...,...,...,...,...
557995,1,4435,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Alondra Aguilar Caldas xdeeeeee,True
557996,1,4436,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Karina Canelo me escuchas?,True
557997,1,4437,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Williams el fantasma del ex XD,True
557998,1,4438,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Jonatan Ferre Verastegui reacciona basura :v,True
557999,1,4439,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Karen Tatiana jajajajajajaja esto se gana su o...,True

In [14]:
df_false = df[df['valid']== False]
df_false

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,valid
7,1,15,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,estas en pasta causa,False
13,1,21,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,solo apsa en Perú,False
25,1,33,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Prende ps MOSCASOR,False
33,1,41,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:30.272841,Facebook:/<comment-id>/comments,NaN,Anderson Lombardixd,False
39,1,47,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:30.272841,Facebook:/<comment-id>/comments,NaN,Adriana Mejia jaaaaa,False
...,...,...,...,...,...,...,...,...,...,...,...,...
557970,1,4410,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Frank Barja Valdivia,False
557984,1,4424,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Yaki Lyu ajjajajajaja,False
557985,1,4425,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,JAJAJAJAJJAJAJAJAJAJAJAJJAJAJAJAJAJAJAJAJAJAJA...,False
557986,1,4426,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Mayra Aracelli Taron,False
557993,1,4433,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Alejandro Sosa JAJAJA,False

In [15]:
df =df[df['valid']== True]

In [16]:
df

,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,valid
6,1,14,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Las hijas de kingteka tienen buena coreo. GA,True
8,1,16,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Puedo ver este video un millón de veces y no m...,True
10,1,18,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Valerie Nj que fue con tu show? tas facturand...,True
14,1,22,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Dicen que se vió esos pasitos Skeres en el ton...,True
15,1,23,2,630750614924803,data,data.*,fetched (200),2023-10-03 20:29:29.755992,Facebook:/<comment-id>/comments,NaN,Greys Sajami que haces ahí,True
...,...,...,...,...,...,...,...,...,...,...,...,...
557995,1,4435,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Alondra Aguilar Caldas xdeeeeee,True
557996,1,4436,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Karina Canelo me escuchas?,True
557997,1,4437,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Williams el fantasma del ex XD,True
557998,1,4438,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Jonatan Ferre Verastegui reacciona basura :v,True
557999,1,4439,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:58:11.142217,Facebook:/<post-id>/comments,NaN,Karen Tatiana jajajajajajaja esto se gana su o...,True

In [17]:
df = df.reset_index()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300283 entries, 0 to 300282
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   index         300283 non-null  int64
 1   level         300283 non-null  object
 2   id            300283 non-null  object
 3   parent_id     300283 non-null  object
 4   object_id     300283 non-null  object
 5   object_type   300283 non-null  object
 6   object_key    300283 non-null  object
 7   query_status  300283 non-null  object
 8   query_time    300283 non-null  object
 9   query_type    300283 non-null  object
 10  name          0 non-null       object
 11  message       300283 non-null  object
 12  valid         300283 non-null  bool
dtypes: bool(1), int64(1), object(11)
memory usage: 27.8+ MB

In [33]:
df.sample(30)

,index,level,id,parent_id,object_id,object_type,object_key,query_status,query_time,query_type,name,message,valid
298802,555260,1,1700,1,1628545270582504,data,data.*,fetched (200),2023-09-29 15:57:21.349021,Facebook:/<post-id>/comments,NaN,Nicolás Mattos ya superala :v,True
60898,115422,1,12250,1,1157451784658852,data,data.*,fetched (200),2023-09-25 20:49:46.817683,Facebook:/<post-id>/comments,NaN,Bien merecido a esa odiosa,True
217365,415327,1,5584,5,526474777813957,data,data.*,fetched (200),2023-10-01 21:41:27.267309,Facebook:/<comment-id>/comments,NaN,Se estrena en tu cumple Mi pequeña Marilyn Rivera,True
43240,81982,1,347,1,612959580735330,data,data.*,fetched (200),2023-09-25 21:51:14.211031,Facebook:/<post-id>/comments,NaN,"Otra yarusi, espero que la gente no compre sus...",True
15136,39013,1,1467,1,1875520425853885,data,data.*,fetched (200),2023-10-01 16:00:22.706592,Facebook:/<comment-id>/comments,NaN,Así te imagino Gabriela Onque 😏😎 😂,True
250171,475501,1,2971,1,864259313750130,data,data.*,fetched (200),2023-09-29 15:17:47.052742,Facebook:/<post-id>/comments,NaN,Iván Pozo JAJAJAJAJA HOY 😳😳,True
126085,236612,1,41534,21,613643633303283,data,data.*,fetched (200),2023-10-02 21:57:15.749883,Facebook:/<comment-id>/comments,NaN,MADAROID FUE MAS CABEZON,True
179156,326849,1,1189,1,1332004113566269,data,data.*,fetched (200),2023-10-01 11:51:08.820100,Facebook:/<post-id>/comments,NaN,Allison Noblega Lovón,True
239193,454049,1,20091,31,1337645530164864,data,data.*,fetched (200),2023-10-01 17:43:48.322904,Facebook:/<comment-id>/comments,NaN,1 hora hablando de parche agg safo,True
99690,177302,1,3340,1,2334818063253175,data,data.*,fetched (200),2023-09-29 16:48:04.446379,Facebook:/<post-id>/comments,NaN,Diana Soto Angie Martinez Becerra Sólo miren ...,True
14507,38273,1,727,1,1875520425853885,data,data.*,fetched (200),2023-10-01 16:00:07.423096,Facebook:/<comment-id>/comments,NaN,Andrea jajajaja asiii tiene que ser 😂😂,True
145214,265500,1,6314,1,1693898353972863,data,data.*,fetched (200),2023-09-28 22:42:59.910759,Facebook:/<post-id>/comments,NaN,Juan Gillary Gutiérrez 😒,True
11045,31375,1,721,7,1648975761968217,data,data.*,fetched (200),2023-10-03 21:42:10.840044,Facebook:/<comment-id>/comments,NaN,Hola vamos a bajar de Peso xd jajaj,True
4652,11549,1,10754,30,4439348062821112,data,data.*,fetched (200),2023-10-03 20:52:00.086758,Facebook:/<comment-id>/comments,NaN,es porque la gente tiene cultura del facebook ...,True
165899,304700,1,2057,7,413246616663058,data,data.*,fetched (200),2023-10-01 16:38:27.911505,Facebook:/<comment-id>/comments,NaN,Danniel Benites Mansilla agradece que juego co...,True
20937,47940,1,575,1,1794688017270460,data,data.*,fetched (200),2023-10-01 16:05:33.901645,Facebook:/<comment-id>/comments,NaN,Definitivamente cuando dormimos juntas Crisbe ...,True
249313,474358,1,1828,1,864259313750130,data,data.*,fetched (200),2023-09-29 15:17:25.387908,Facebook:/<post-id>/comments,NaN,Carolina Andrade mi amooo par su vestido,True
183335,335430,1,3158,13,337720931932166,data,data.*,fetched (200),2023-10-01 18:08:22.756985,Facebook:/<comment-id>/comments,NaN,Impe Que perfume puedo ponerme para ver las pa...,True
2067,6006,1,5211,21,667793451045826,data,data.*,fetched (200),2023-10-03 20:50:37.960731,Facebook:/<comment-id>/comments,NaN,Cerveza de queeee????? DE RANA PES FINO,True
64533,121178,1,1313,1,779267716640417,data,data.*,fetched (200),2023-09-25 21:40:58.321378,Facebook:/<post-id>/comments,NaN,Los limeños antiracistas?? 🙂🧐,True
48266,90912,1,1543,13,300020484393831,data,data.*,fetched (200),2023-10-05 20:45:53.404170,Facebook:/<comment-id>/comments,NaN,Mejor papá nativas ..,True
87855,158328,1,18561,29,10154064221328130,data,data.*,fetched (200),2023-10-05 20:25:24.678035,Facebook:/<comment-id>/comments,NaN,Me encanta todo lo que haces ;gracias por com...,True
158406,290810,1,3429,5,440517183577304,data,data.*,fetched (200),2023-10-04 21:14:12.260673,Facebook:/<comment-id>/comments,NaN,Cristina Quispe Rosas,True
197383,372402,1,9662,7636,1300726950551350,data,data.*,fetched (200),2023-10-04 20:19:48.772769,Facebook:/<comment-id>/comments,NaN,Ya empezó mi novela jaja,True
70693,131631,1,6890,22,177418586902052,data,data.*,fetched (200),2023-10-05 20:01:11.008694,Facebook:/<comment-id>/comments,NaN,Excelente propuesta 🤩,True
100462,178983,1,5021,1,2334818063253175,data,data.*,fetched (200),2023-09-29 16:48:29.594890,Facebook:/<post-id>/comments,NaN,Alexander Farroñay😐😳🤣,True
6663,16581,1,4067,1,933348817255912,data,data.*,fetched (200),2023-10-03 20:58:56.737242,Facebook:/<comment-id>/comments,NaN,micro abierto como tu potito,True
101041,179785,1,368,1,2410449119203551,data,data.*,fetched (200),2023-09-29 16:49:47.240024,Facebook:/<post-id>/comments,NaN,Jannet Liz Sun Yomira Fernanda Cruz 🤣🤣,True
297626,553556,1,1595,1,236451993887837,data,data.*,fetched (200),2023-09-29 15:56:03.395551,Facebook:/<post-id>/comments,NaN,Durand S. Katherine xdddd,True
98876,175786,1,1824,1,2334818063253175,data,data.*,fetched (200),2023-09-29 16:47:40.313789,Facebook:/<post-id>/comments,NaN,Stefano yara mano ahora todo tiene sentido,True